@import url("reset.css");
/* MAIN STYLES */
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;	
}

p {
	padding: 0px 0px 5px 0px;
}

/* FRAME */
#container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

#header {
	max-width: 1024px;
	width: 100%;
	clear: both;	
}

#nav {
	clear: both;
	max-width: 100%;
	width: 100%;
	float: left;
}

#nav li {
	float: left;
	padding-right: 5px;
}

#content {
	float: left;
	width: 100%;
	max-width: 80%;
}

#sidebar {
	float: right;
	width: 100%;
	max-width: 20%;
}

#footer {
	clear: both;
}

/* HEADER */
#header h1 {
	font-size: 24px;
	font-weight: bold;
}

#header h2 {
	font-size: 12px;
}

/* SIDEBAR */
.sidebar_item {
	max-width: 100%;
	width: 100%;	
}

.sidebar_item .sidebar_title {
	font-size: 16px;
	font-weight: bold;
}

/* CONTENT */
#content {
		
}

/* ARTICLES */
article {
	clear: both;
}

article h2 {
	font-size: 18px;
	font-weight: bold;
}

.pagination {
	clear: both;
}

.pagination li {
	float: left;
	padding-right: 5px;
}

/* FOOTER */
#footer {
	padding: 10px 0px 10px 0px;
}

#footer p.copyright {
	font-size: 12px;
}